/* #region about-section */
.feature {
    padding: 64px 16px;
    min-height: 348px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin: 0 auto; 
    background-image: 
        linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        image-set(
        url('../img/about/g-features-mobil.jpg') 1x,
        url('../img/about/bg-features-mobil@2x.jpg') 2x
        );
}
.tagline {
    font-family: "Fira Sans", sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    color: #fff;
    margin-bottom: 12px;
}
.feature-title {
    font-family: "Comfortaa", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 0.01em;
    text-align: center;
    color: #fff;
    margin-bottom: 20px;
    max-width: 629px;
    margin: 0 auto;
}
.feature-p {
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    color: #fff;
}

.feature-container {
  margin:0 auto;
}


@media screen and (min-width:768px) {

.feature {
    padding: 80px 0;
    background-image: 
    linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    image-set(
      url('../img/about/bg-features-tablet.jpg') 1x,
      url('../img/about/bg-features-tablet@2x.jpg') 2x
    );


.tagline {
    margin-bottom: 16px;
}
.feature-title {
    margin-bottom: 24px;
}
.feature-p {
   max-width: 573px;
   margin: 0 auto;
}
}

@media screen and (min-width: 1158px) {

.feature {
    padding: 112px 36px 94px;
    max-width: 1440px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);   
   background-image: 
    linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    image-set(
      url('../img/about/bg-features.jpg') 1x,
      url('../img/about/bg-features@2x.jpg') 2x
    );  
   
}
.feature-title {
    font-size: 56px;   
}
.feature-p {
   font-size: 18px;
}
}
/* #endregion about-section */
